spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/widgetrag
    username: your_username
    password: your_password
    driver-class-name: org.postgresql.Driver

widgetrag:
  storage:
    base-path: \\wsl$\Ubuntu\home\your_wsl_username\widgetrag-data